/* 
.google-forms-theme {
    --gm3-dialog-container-color: var(--gm3-sys-color-surface-bright, #fff);
    --gm3-dialog-z-index: 1003;
    --gm3-select-shared-menu-container-color: var(--gm3-sys-color-surface-bright, #fff);
    --gm3-menu-list-item-label-text-font: "Google Sans Flex", "Google Sans", Roboto, Arial, sans-serif;
    --gm3-slider-value-indicator-label-label-text-font: "Google Sans";
    --gm3-autocomplete-outlined-text-field-input-text-font: "Google Sans";
    --gm3-autocomplete-outlined-text-field-label-text-font: "Google Sans";
    --gm3-autocomplete-outlined-text-field-supporting-text-font: "Google Sans";
    --gm3-autocomplete-outlined-menu-list-item-label-text-font: "Google Sans";
    --gm3-navigation-drawer-content-label-text-font: "Google Sans";
    --ae-side-sheet-container-color: var(--gm3-sys-color-surface-container, #f0f4f9);
    --ae-side-sheet-outline-width: 0px;
    --gm3-dropdown-button-outlined-hover-outline-color: var(--gm3-sys-color-on-surface, #1f1f1f);
    --gm3-dropdown-button-outlined-hover-state-layer-opacity: 0;
    --gm3-dropdown-button-outlined-pressed-outline-color: var(--gm3-sys-color-primary, #0b57d0);
    --gm3-dropdown-button-outlined-pressed-state-layer-opacity: 0;
}

.google-forms-theme .RVEQke {
    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.google-forms-theme .vPYArb {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
}

.google-forms-theme .Ltcunf {
    min-width: 250px;
    word-wrap: break-word;
}

.google-forms-theme .rzLfc {
    --gm3-dialog-container-color: var(--gm3-sys-color-surface-bright, #fff);
    --gm3-dialog-z-index: 1003;
    --gm3-select-shared-menu-container-color: var(--gm3-sys-color-surface-bright, #fff);
    --gm3-menu-list-item-label-text-font: "Google Sans Flex", "Google Sans", Roboto, Arial, sans-serif;
    --gm3-slider-value-indicator-label-label-text-font: "Google Sans";
    --gm3-autocomplete-outlined-text-field-input-text-font: "Google Sans";
    --gm3-autocomplete-outlined-text-field-label-text-font: "Google Sans";
    --gm3-autocomplete-outlined-text-field-supporting-text-font: "Google Sans";
    --gm3-autocomplete-outlined-menu-list-item-label-text-font: "Google Sans";
    --gm3-navigation-drawer-content-label-text-font: "Google Sans";
    --ae-side-sheet-container-color: var(--gm3-sys-color-surface-container, #f0f4f9);
    --ae-side-sheet-outline-width: 0px;
    --gm3-dropdown-button-outlined-hover-outline-color: var(--gm3-sys-color-on-surface, #1f1f1f);
    --gm3-dropdown-button-outlined-hover-state-layer-opacity: 0;
    --gm3-dropdown-button-outlined-pressed-outline-color: var(--gm3-sys-color-primary, #0b57d0);
    --gm3-dropdown-button-outlined-pressed-state-layer-opacity: 0;
}

.google-forms-theme .nDyC9b {
    --gm3-dialog-z-index: 3;
}

.google-forms-theme body {
    background-color: #f0ebf8;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.google-forms-theme :root {
    --pill-shape-path: path("M75.4754 46.660315C109.9553 12.189895 165.8592 12.189895 200.33975 46.660315C234.8203 81.1408 234.8203 137.0447 200.33975 171.5246L171.5246 200.33975C137.0447 234.8203 81.1408 234.8203 46.660315 200.33975C12.189895 165.8592 12.189895 109.9553 46.660315 75.4754L75.4754 46.660315Z");
    --sunny-shape-path: path("M183.313585 39.432575C190.263775 39.89116 193.71716 40.1249 196.513135 41.350945C200.62562 43.13062 203.821955 46.462845 205.60163 50.44533C206.79919 53.239605 207.033515 56.68286 207.51055 63.433955L208.57031 79.228175C208.760525 82.017055 208.85605 83.399355 209.14076 84.700895C209.571135 86.587505 210.276035 88.461425 211.337685 90.135825C212.06705 91.304395 212.990635 92.36422 214.803745 94.438305L225.19081 106.494025C229.781305 111.6999 232.03098 114.299965 233.14343 117.176955C234.76362 121.33147 234.76362 126.03149 233.14343 130.185955C232.03098 133.063 229.781305 135.66306 225.19081 140.877935L214.803745 152.924655C212.990635 155.00874 212.06705 156.078565 211.337685 157.217135C210.276035 158.891535 209.571135 160.765455 209.14076 162.653065C208.856635 163.963605 208.76111 165.345905 208.572895 168.134785L207.511135 183.929005C207.0341 190.6801 206.799775 194.133355 205.602215 196.91763C203.82254 201.06619 200.626105 204.261525 196.51372 206.0422C194.186395 207.23976 190.73301 207.474085 183.78282 207.95112L168.61585 209.01088C165.80707 209.200095 164.44467 209.29562 163.13413 209.58081C161.22652 210.021705 159.3826 210.726605 157.7082 211.788255C156.55963 212.51762 155.509805 213.441205 153.40572 215.225815L141.348935 225.63138C136.144125 230.215375 133.54406 232.46405 130.71807 233.577565C126.553985 235.19769 121.88751 235.19769 117.73856 233.577565C114.91257 232.46405 112.192405 230.215375 106.98763 225.63138L94.640845 215.225815C92.827735 213.441205 91.75791 212.51762 90.58934 211.788255C88.915015 210.726605 87.08002 210.021705 85.18276 209.58081C83.86222 209.29562 82.50092 209.200095 79.69104 209.01088L63.89682 207.51055C57.145725 207.033515 53.69247 206.79919 50.912875 205.60163C46.80039 203.821955 43.605055 200.62562 41.82438 196.513135C40.609335 193.71716 40.374945 190.263775 39.89136 183.313585L38.8366 168.134785C38.647385 165.345905 38.55086 163.963605 38.25667 162.653065C37.815775 160.765455 37.119875 158.891535 36.069225 157.217135C35.34986 156.078565 34.426275 155.00874 32.613165 152.924655L22.2261 140.877935C17.635605 135.66306 15.38693 133.063 14.27348 130.185955C12.65329 126.03149 12.65329 121.33147 14.27348 117.176955C15.38693 114.29562 17.635605 111.045555 22.2261 106.494025L32.613165 94.438305C34.426275 92.36422 35.34986 91.304395 36.069225 90.135825C37.119875 88.461425 37.815775 86.587505 38.25667 84.700895C38.55086 83.399355 38.647385 82.017055 38.8366 79.228175L39.89136 63.433955C40.334945 56.68286 40.568685 53.239605 41.819895 50.912875C43.59057 46.80039 46.802795 43.605055 50.91528 41.82438C53.699555 40.609335 57.14691 40.374945 63.903905 39.89136L79.698125 38.8366C82.506005 38.647385 83.869305 38.55086 85.189385 38.25667C87.087455 37.815775 88.921375 37.119875 90.595775 36.069225C91.764345 35.34986 92.83417 34.426275 94.808255 32.613165L106.994975 22.2261C112.19985 17.635605 114.879915 15.38693 117.645905 14.27348C121.80142 12.65329 126.49144 12.65329 130.646005 14.27348C133.477095 15.38693 136.07716 17.635605 141.343935 22.2261L153.398755 32.613165C154.776055 34.426275 156.06698 35.34986 157.20655 36.069225C158.88095 37.119875 160.75552 37.815775 162.64313 38.25667C163.95467 38.55086 165.33797 38.647385 168.12485 38.8366L183.313585 39.432575Z");
}

.google-forms-theme ::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

.google-forms-theme ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

.google-forms-theme ::-webkit-scrollbar-corner {
    background: transparent;
}

.google-forms-theme .HB1eCd-UMrnmb ::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    background-color: rgb(218, 220, 224);
    border-radius: 8px;
    box-shadow: none;
}

.google-forms-theme ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.google-forms-theme .HB1eCd-UMrnmb ::-webkit-scrollbar-track {
    box-shadow: none;
    margin: 0 4px;
}

.google-forms-theme ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
} */
